git+https://github.com/aleehedl/python-checkout@4d89e60b532ff040dd87b8ca20e2313bea83967a#egg=checkout
click==6.7
coverage==4.4.1
dominate==2.3.1
Flask==1.0
Flask-Assets==0.12
Flask-Babel==0.11.2
flask-nav==0.6
itsdangerous==0.24
janrain-python-api==0.4.0
Jinja2==2.10
jinja2-cli==0.6.0
mailer==0.8.1
MarkupSafe==1.0
#pyjnius==1.1.2.dev0
git+https://github.com/kivy/pyjnius@d2ef91b73ee7dc6ae9ca3042fc1fc6de6565c237#egg=pyjnius
pytz==2017.2
PyYAML==3.12
visitor==0.1.3
webassets==0.12.1
Werkzeug==0.12.2
xmltodict==0.11.0
Babel==2.5.1
certifi==2017.7.27.1
chardet==3.0.4
Cython==0.26.1
idna==2.6
requests==2.18.4
six==1.11.0
urllib3==1.22
uWSGI==2.0.17
python_dateutil>=2.5.3
setuptools>=21.0.0
vcrpy==1.11.1
vcrpy-unittest==0.1.6
python-json-logger==0.1.8
SQLAlchemy==1.2.8 
Flask-SQLAlchemy==2.3.2
